name: Environment Template

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      step:
        required: true
        type: string

jobs:
  debug:
    name: ${{ inputs.environment }} - ${{ inputs.step }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Echo step
        run: 'echo "Environment: ${{ inputs.environment }}, Step: ${{ inputs.step }}"'
